#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#row1, #row2 {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}